/* Global marks */

* {
  margin: 0;
  padding: 0;
  font-style: normal;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 2;
  background-color: #e5e5e5;
  color: #212121;
}
a {
  text-decoration: none;
}
h1 {
  line-height: 1.15;
  letter-spacing: 2.5px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  color: #212121;
  line-height: 1.16;
  margin-bottom: 50px;
  letter-spacing: 0.03em;
}
h3 {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
h4 {
  color: #212121;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
ul {
  list-style: none;
}

/* End of global marks */

/* index.html */

/* index section class adding 94px padding top and bottom */

.section {
  padding: 94px 0px 94px 0px;
}

.second-section {
  padding-bottom: 94px;
}

/* container */

.container {
  width: 1200px;
  margin: 0 auto;
}

/* index header */

.header {
  background-color: #ffffff;
  border-bottom: 1px #ececec solid;
  margin: 0 auto;
  width: 1600px;
  display: flex;
  padding: 24px 0 25px 0;
}

.header-menu {
  display: flex;
}

.header-menu-left {
  width: 600px;
  display: flex;
  align-items: center;
}

.header-menu-right {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* menu links margin */

.nav-list-left {
  margin-left: 93px;
}

.nav-list-left-portfolio {
  margin-left: 46px;
}

.nav-list-left-kontakt {
  margin-left: 47px;
}

.nav-list-right-mail {
  margin-right: 30px;
}

/* end of menu links margin */

/* header list left and right */

.nav-list-left,
.nav-list-right {
  display: flex;
}

.nav-links-left {
  font-weight: 500;
  color: #212121;
  letter-spacing: 0.02em;
}

.nav-links-right {
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.nav-links-left:hover,
.nav-links-right:hover,
.nav-links-left:focus,
.nav-links-right:focus {
  color: #2196f3;
}

.nav-links-left-active {
  color: #2196f3;
  font-weight: 500;
  letter-spacing: 0.02em;
}

/* end of header lists */

/* logo header */

.logo-web {
  color: #2196f3;
}

.logo-link-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #000000;
  margin-left: 30px;
  line-height: 1.17;
}

/* end of logo header */

/* End of header */

/* index.html main section */

.index-main-section {
  background-color: #2f303a;
  text-align: center;
  margin: 0 auto;
  width: 1600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* main section button */

.index-main-section-button {
  border: 0;
  padding: 10px 42px 10px 41px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: white;
}

/* End of main section index.html */

/* Advantages section index.html */

.advantages-section {
  background-color: #ffffff;
  color: #757575;
  margin: auto;
  width: 1600px;
  padding-bottom: 0;
}

.advantages-list {
  display: flex;
}

.advantages-item {
  width: 270px;
  margin-left: 30px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* End of advantages section */

/* What we do section index.html */

.what-we-do-section {
  background-color: #ffffff;
  width: 1600px;
  margin: auto;
  text-align: center;
}

.what-we-do-list {
  display: flex;
}

.what-we-do-list-item {
  margin-left: 30px;
  width: 370px;
  height: 294px;
}

/* End of what we do section */

/* Our section index.html */

.our-team-section {
  margin: 0 auto;
  background-color: #f5f4fa;
  width: 1600px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #757575;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.our-team-list {
  display: flex;
}

.our-team-list-item {
  width: 270px;
  margin-left: 30px;
}

.our-team-list-figure {
  width: 270px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-list-info {
  padding: 30px 0 30px 0;
}

/* End of our team section */

/* -----Whole footer----- */

.footer {
  background-color: #2f303a;
  margin: 0 auto;
  width: 1600px;
  padding: 60px 0 60px 0;
}

.logo-link-footer {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-left: 30px;
  margin: 0px 0px 20px 30px;
}

.footer-list {
  color: #ffffff;
  margin-left: 30px;
}

.footer-list-link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-list-link-underline {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: underline;
}

.footer-list-link:hover,
.footer-list-link:focus,
.footer-list-link-underline:hover,
.footer-list-link-underline:focus {
  color: #2196f3;
}

/* Footer end */

/* Start Portfolio.html */

/* Main section portfolio.html */

.portfolio-main-section {
  background-color: #ffffff;
  color: #757575;
  font-size: 16px;
  margin: 0 auto;
  width: 1600px;
}

.portfolio-main-buttons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.filter-button-list {
  display: flex;
}

.filter-button {
  background-color: #f5f4fa;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  margin-left: 8px;
  letter-spacing: 0.03em;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-main-items {
  margin: 0 auto;
  padding-top: 20px;
}

.portfolio-main-items b {
  color: #212121;
  font-size: 18px;
}

.portfolio-main-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  justify-content: space-between;
}

.portfolio-main-list-item {
  width: 370px;
  border-bottom: 1px solid #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.portfolio-main-figure {
  width: 370px;
  height: 404px;
  display: flex;
  flex-direction: column;
}

.portfolio-h4 {
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
  margin-bottom: 4px;
}

.portfolio-main-figure-info {
  width: 322px;
  margin: 0 auto;
  letter-spacing: 0.03em;
  line-height: 1.88;
  padding: 20px 0 20px 0;
}
